<app-header></app-header>

<div class="Refresh">Updated: 06/08/22 07:35 AM<img src="../../../assets/images/refresh_icon.png" alt=""> </div>

<div class="container-fluid pe-0 ">
   
    <div class="col-8" style="width: 100%;">
        <div class="d-flex justify-content-center">
            <div class="gross-tbl table-responsive">
                <table>
                <thead>
                    <tr class="SGtitle" style="background-color: #2d91f1;">
                        <th rowspan="1">&nbsp;</th>
                        <th colspan="5" style=" color: #000; text-align: center !important; background-color: #fff; border-right: 2px solid #e0e1e2;">CURRENT PERIOD</th>
                        <th colspan="2" style=" color: #000; text-align: center !important; background-color: #fff; border-right: 2px solid #e0e1e2;">PRIOR MONTH</th>
                        <th colspan="5" style=" color: #000; text-align: center !important; background-color: #fff; border-right: 2px solid #e0e1e2;">PRIOR YEAR</th>
                    </tr>
                    <tr class="SGtitle">
                        <th>&nbsp;</th>

                        <th>Aug 2022</th>
                        <th class="trgt">Budget</th>
                        <th class="trgt">Variance</th>
                        <th>Aug 2021</th>                        
                        <th class="trgt">Variance</th>
                        <th>July 2022</th>
                        <th class="trgt">Variance</th>
                        <th>Aug YTD(2022)</th>
                        <th class="trgt">Budget</th>
                        <th class="trgt">Variance</th>
                        <th>Aug YTD(2021)</th>
                        <th class="trgt">Variance</th>
                    </tr>
                </thead>
                <tbody >
                    <tr class="title">
                        <td>VARIABLE OPERATIONS</td>
                
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
        
                    <tr class="sub-title">
                        <td>New Units</td>
                
                        <td>1,269</td>
                        <td>1,364</td>
                        <td class="divRed">-95</td>
                        <td>10,032</td>
                        
                        <td>679</td>
                        <td>1,288</td>
                        <td class="divRed">-19</td>
                        <td>1,154</td>
                        <td>9,353</td>
                        <td>115</td>
                        <td>9,234</td>
                        <td>798</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Used Units</td>
                
                        <td>1,174</td>
                        <td>2,026</td>
                        <td class="divRed">-852</td>
                        <td>11,807</td>
                        
                        <td class="divRed">-2,693</td>
                        <td>1,428</td>
                        <td class="divRed">-254</td>
                        <td>1,628</td>
                        <td>14,500</td>
                        <td class="divRed">-454</td>
                        <td>10,472</td>
                        <td>1,335</td>
                        
                    </tr>
                    <tr class="title-head">
                        <td>Unit Retail Sales</td>
                
                        <td>2,443</td>
                        <td>3,390</td>
                        <td class="divRed">-947</td>
                        <td>21,839</td>
                        
                        <td class="divRed">-2,014</td>
                        <td>2,716</td>
                        <td class="divRed">-273</td>
                        <td>2,782</td>
                        <td>23,853</td>
                        <td class="divRed">-339</td>
                        <td>19,706</td>
                        <td>2,133</td>
                                
                    </tr>
                    <tr class="sub-title">
                        <td>Front Gross</td>
                
                        <td>$3,850,337</td>
                        <td>$1,797,000</td>
                        <td>$2,053,377</td>
                        <td>$25,198,114</td>
                        
                        <td>$7,336,714</td>
                        <td>$3,923,113</td>
                        <td class="divRed">-$72,736</td>
                        <td>$2,197,749</td>
                        <td>$17,861,400</td>
                        <td>$1,652,628</td>
                        <td>$4,502,851</td>
                        <td>$20,695,262</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Back Gross</td>
                
                        <td>$4,535,183</td>
                        <td>$5,496,700</td>
                        <td class="divRed">-$1,143,517</td>
                        <td>$36,020,021</td>
                        
                        <td class="divRed">-$2,873,529</td>
                        <td>$4,446,864</td>
                        <td class="divRed">-$93,681</td>
                        <td>$5,029,240</td>
                        <td>$38,893,550</td>
                        <td class="divRed">-$676,057</td>
                        <td>$34,039,385</td>
                        <td>$1,980,636</td>
                        
                    </tr>
                    <tr class="title-head">
                        <td>Pure Gross</td>
                
                        <td>$8,203,560</td>
                        <td>$7,293,700</td>
                        <td>$909,860</td>
                        <td>$61,218,135</td>
                        
                        <td>$4,463,185</td>
                        <td>$8,369,977</td>
                        <td class="divRed">-$166,417</td>
                        <td>$7,226,989</td>
                        <td>$56,754,950</td>
                        <td>$976,571</td>
                        <td>$38,542,236</td>
                        <td>$22,675,899</td>
                                
                    </tr>
                    <tr class="sub-title">
                        <td>Wholesales</td>
                
                        <td class="divRed">-$502,983</td>
                        <td class="divRed">-$5,000</td>
                        <td class="divRed">-$497,983</td>
                        <td class="divRed">-$4,261,181</td>
                        
                        <td class="divRed">-$4,221,181</td>
                        <td class="divRed">-$421,652</td>
                        <td class="divRed">-$81,330</td>
                        <td class="divRed">-$93,224</td>
                        <td class="divRed">-$40,000</td>
                        <td class="divRed">-$409,758</td>
                        <td>$85,485</td>
                        <td class="divRed">-$4,346,666</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Chargebacks</td>
                
                        <td class="divRed">-$470,267</td>
                        <td class="divRed">-$341,500</td>
                        <td class="divRed">-$128,767</td>
                        <td class="divRed">-$3,522,831</td>
                        
                        <td class="divRed">-$798,331</td>
                        <td class="divRed">-$379,786</td>
                        <td class="divRed">-$123,196</td>
                        <td class="divRed">-$305,824</td>
                        <td class="divRed">-$2,724,500</td>
                        <td class="divRed">-$197,158</td>
                        <td class="divRed">-$1,898,586</td>
                        <td class="divRed">-$1,624,244</td>
                        
                    </tr>
                    <tr class="title-head">
                        <td>Variable Gross</td>
                
                        <td>$7,230,310</td>
                        <td>$6,947,200</td>
                        <td>$283,110</td>
                        <td>$53,434,123</td>
                        
                        <td class="divRed">-$556,327</td>
                        <td>$7,568,538</td>
                        <td class="divRed">-$338,228</td>
                        <td>$6,827,940</td>
                        <td>$53,990,450</td>
                        <td>$402,370</td>
                        <td>$36,729,135</td>
                        <td>$16,704,988</td>
                                
                    </tr>
                    <tr class="title">
                        <td>FIXED OPERATIONS</td>
                
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="sub-title">
                        <td>Service Gross</td>
                
                        <td>$7,760,720</td>
                        <td>$7,761,889</td>
                        <td class="divRed">-$1,169</td>
                        <td>$57,794,799</td>
                        
                        <td>$1,643,386</td>
                        <td>$6,675,342</td>
                        <td>$1,085,378</td>
                        <td>$6,606,608</td>
                        <td>$56,151,413</td>
                        <td>$1,154,112</td>
                        <td>$44,356,545</td>
                        <td>$13,438,254</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Parts Gross</td>
                
                        <td>$4,066,119</td>
                        <td>$4,181,828</td>
                        <td class="divRed">-$115,709</td>
                        <td>$29,741,392</td>
                        
                        <td class="divRed">-$1,602,495</td>
                        <td>$3,642,683</td>
                        <td>$423,437</td>
                        <td>$3,508,971</td>
                        <td>$31,343,887</td>
                        <td>$557,148</td>
                        <td>$23,014,416</td>
                        <td>$6,726,976</td>
                        
                    </tr>
                    <tr class="sub-title">
                        <td>Body Gross</td>
                
                        <td>$229,964</td>
                        <td>$208,586</td>
                        <td>$21,378</td>
                        <td>$1,790,644</td>
                        
                        <td>$209,071</td>
                        <td>$229,822</td>
                        <td>$143</td>
                        <td>$171,899</td>
                        <td>$1,581,573</td>
                        <td>$58,066</td>
                        <td>$1,206,111</td>
                        <td>$584,532</td>
                                                            
                    </tr>
                    <tr class="title-head">
                        <td>Total Fixed</td>
                
                        <td>$12,056,804</td>
                        <td>$12,152,303</td>
                        <td class="divRed">-$95,499</td>
                        <td>$89,326,835</td>
                        
                        <td>$249,962</td>
                        <td>$10,547,846</td>
                        <td>$1,508,958</td>
                        <td>$10,287,478</td>
                        <td>$89,076,873</td>
                        <td>$1,769,326</td>
                        <td>$68,577,073</td>
                        <td>$20,749,762</td>
                                
                    </tr>
                    <tr class="title-head">
                        <td>Total Store Gross</td>
                
                        <td>$19,287,114</td>
                        <td>$19,099,503</td>
                        <td>$187,611</td>
                        <td>$142,760,958</td>
                        
                        <td class="divRed">-$306,365</td>
                        <td>$18,116,384</td>
                        <td>$1,170,730</td>
                        <td>$17,115,419</td>
                        <td>$143,067,323</td>
                        <td>$2,171,696</td>
                        <td>$105,306,208</td>
                        <td>$37,454,750</td>
                                
                    </tr>
                    <tr class="sub-title">
                        <td>Manufacturer Margin</td>
                
                        <td>$2,275,403</td>
                        <td>$3,119,500</td>
                        <td class="divRed">-$844,097</td>
                        <td>$21,118,544</td>
                        
                        <td>$1,044,044</td>
                        <td>$2,467,697</td>
                        <td class="divRed">-$192,294</td>
                        <td>$2,775,969</td>
                        <td>$20,074,500</td>
                        <td class="divRed">-$500,566</td>
                        <td>$24,919,317</td>
                        <td class="divRed">-$3,800,773</td>
                        
                    </tr>
                    <tr class="sub-title">
                        <td>Incentives</td>
                
                        <td>-</td>
                        <td>$70,000</td>
                        <td class="divRed">-$70,000</td>
                        <td>$553,936</td>
                        
                        <td>$89,936</td>
                        <td class="divRed">-</td>
                        <td class="divRed">-</td>
                        <td>$167,275</td>
                        <td>$464,000</td>
                        <td class="divRed">-$167,275</td>
                        <td>$1,873,556</td>
                        <td class="divRed">-$1,319,499</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Pack</td>
                
                        <td>$2,005,059</td>
                        <td>$2,526,600</td>
                        <td class="divRed">-$521,541</td>
                        <td>$17,476,199</td>
                        
                        <td>$14,949,599</td>
                        <td>$2,082,988</td>
                        <td class="divRed">-$77,929</td>
                        <td>$2,128,586</td>
                        <td>$17,259,760</td>
                        <td class="divRed">-$123,527</td>
                        <td>$26,946,614</td>
                        <td class="divRed">-$9,470,415</td>
                        
                    </tr>
                    <tr class="sub-title">
                        <td>Doc Fees</td>
                
                        <td>$173,420</td>
                        <td>$348,800</td>
                        <td class="divRed">-$175,380</td>
                        <td>$1,539,583</td>
                        
                        <td class="divRed">-$853,507</td>
                        <td>$195,908</td>
                        <td class="divRed">-$22,488</td>
                        <td>$171,208</td>
                        <td>$2,393,090</td>
                        <td>$2,212</td>
                        <td>$1,053,084</td>
                        <td>$486,499</td>
                                                            
                    </tr>
                    <tr class="title-head">
                        <td>Total Store Super Gross</td>
                
                        <td>$23,740,996</td>
                        <td>$25,164,403</td>
                        <td class="divRed">-$1,423,407</td>
                        <td>$183,449,219</td>
                        
                        <td>$190,546</td>
                        <td>$22,862,977</td>
                        <td>$878,019</td>
                        <td>$22,358,456</td>
                        <td>$183,258,673</td>
                        <td>$1,382,540</td>
                        <td>$160,098,779</td>
                        <td>$23,350,440</td>                                
                    </tr>
                    <tr class="title">
                        <td>EXPENSES</td>
                
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="sub-title">
                        <td>Variable Expenses</td>
                
                        <td class="divRed">-$2,834,439</td>
                        <td class="divRed">-$3,023,025</td>
                        <td>$188,586</td>
                        <td class="divRed">-$23,804,321</td>
                        
                        <td class="divRed">-$2,440,081</td>
                        <td class="divRed">-$2,730,296</td>
                        <td class="divRed">-$104,143</td>
                        <td class="divRed">-$3,249,212</td>
                        <td class="divRed">-$21,364,240</td>
                        <td>$414,773</td>
                        <td class="divRed">-$21,234,367</td>
                        <td class="divRed">-$2,569,953</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Variable Expenses %</td>
                
                        <td>12%</td>
                        <td>12%</td>
                        <td>13%</td>
                        <td>13%</td>
                        
                        <td>1281%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>15%</td>
                        <td>11%</td>
                        <td>30%</td>
                        <td>13%</td>
                        <td>11%</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Personnel Expenses</td>
                
                        <td class="divRed">-$6,927,784</td>
                        <td class="divRed">-$5,870,299</td>
                        <td class="divRed">-$1,057,485</td>
                        <td class="divRed">-$53,191,806</td>
                        
                        <td class="divRed">-$7,648,096</td>
                        <td class="divRed">-$6,436,937</td>
                        <td class="divRed">-$490,847</td>
                        <td class="divRed">-$5,906,919</td>
                        <td class="divRed">-$45,543,710</td>
                        <td class="divRed">-$1,020,865</td>
                        <td class="divRed">-$39,589,289</td>
                        <td class="divRed">-$13,602,517</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Personnel Expenses %</td>
                
                        <td>29%</td>
                        <td>23%</td>
                        <td>74%</td>
                        <td>29%</td>
                        
                        <td>4014%</td>
                        <td>28%</td>
                        <td>56%</td>
                        <td>26%</td>
                        <td>24%</td>
                        <td>74%</td>
                        <td>25%</td>
                        <td>58%</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Semi-Fixed Expenses</td>
                
                        <td class="divRed">-$5,910,469</td>
                        <td class="divRed">-$4,819,475</td>
                        <td class="divRed">-$1,090,994</td>
                        <td class="divRed">-$41,781,903</td>
                        
                        <td class="divRed">-$3,970,902</td>
                        <td class="divRed">-$4,976,654</td>
                        <td class="divRed">-$933,815</td>
                        <td class="divRed">-$4,071,497</td>
                        <td class="divRed">-$37,811,001</td>
                        <td class="divRed">-$1,838,972</td>
                        <td class="divRed">-$28,090,909</td>
                        <td class="divRed">-$13,690,994</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Semi-Fixed Expenses %</td>
                
                        <td>25%</td>
                        <td>19%</td>
                        <td>77%</td>
                        <td>23%</td>
                        
                        <td>2084%</td>
                        <td>22%</td>
                        <td>106%</td>
                        <td>18%</td>
                        <td>20%</td>
                        <td>133%</td>
                        <td>18%</td>
                        <td>59%</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Fixed Expenses </td>
                
                        <td class="divRed">-$4,967,455</td>
                        <td class="divRed">-$3,859,530</td>
                        <td class="divRed">-$1,107,925</td>
                        <td class="divRed">-$37,381,827</td>
                        
                        <td class="divRed">-$6,042,837</td>
                        <td class="divRed">-$4,760,183</td>
                        <td class="divRed">-$207,273</td>
                        <td class="divRed">-$3,768,543</td>
                        <td class="divRed">-$31,338,990</td>
                        <td class="divRed">-$1,198,912</td>
                        <td class="divRed">-$26,627,459</td>
                        <td class="divRed">-$10,754,369</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Fixed Expenses %</td>
                
                        <td>21%</td>
                        <td>15%</td>
                        <td>78%</td>
                        <td>20%</td>
                        
                        <td>3171%</td>
                        <td>21%</td>
                        <td>24%</td>
                        <td>17%</td>
                        <td>17%</td>
                        <td>87%</td>
                        <td>17%</td>
                        <td>46%</td>
                                                            
                    </tr>
                   
                    <tr class="sub-title">
                        <td>Other Expenses</td>
                
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Other Expenses</td>
                
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                                                            
                    </tr>
                    <tr class="title-head">
                        <td>Total Expenses</td>
                
                        <td class="divRed">-$20,640,146</td>
                        <td class="divRed">-$17,572,329</td>
                        <td class="divRed">-$3,067,817</td>
                        <td class="divRed">-$156,159,857</td>
                        
                        <td class="divRed">-$20,101,916</td>
                        <td class="divRed">-$18,904,069</td>
                        <td class="divRed">-$1,736,077</td>
                        <td class="divRed">-$16,996,171</td>
                        <td class="divRed">-$136,057,941</td>
                        <td class="divRed">-$3,643,975</td>
                        <td class="divRed">-$115,542,023</td>
                        <td class="divRed">-$40,617,834</td>                                
                    </tr>
                    <tr class="title-head">
                        <td>Operating Profit</td>
                
                        <td class="divRed">-$1,353,032</td>
                        <td>$1,527,174</td>
                        <td class="divRed">-$2,880,206</td>
                        <td class="divRed">-$13,398,899</td>
                        
                        <td class="divRed">-$20,408,281</td>
                        <td class="divRed">-$787,685</td>
                        <td class="divRed">-$565,347</td>
                        <td>$119,248</td>
                        <td>$7,009,382</td>
                        <td class="divRed">-$1,472,280</td>
                        <td class="divRed">-$10,235,815</td>
                        <td class="divRed">-$3,163,083</td>                                
                    </tr>
                    <tr class="sub-title">
                        <td>Manufacturer Margin</td>
                
                        <td>$2,275,403</td>
                        <td>$3,119,500</td>
                        <td class="divRed">-$844,097</td>
                        <td>$21,118,544</td>
                        
                        <td>$1,044,044</td>
                        <td>$2,467,697</td>
                        <td class="divRed">-$192,294</td>
                        <td>$2,775,969</td>
                        <td>$20,074,500</td>
                        <td class="divRed">-$500,566</td>
                        <td>$24,919,317</td>
                        <td class="divRed">-$3,800,773</td>
                        
                    </tr>
                    <tr class="sub-title">
                        <td>Incentives</td>
                
                        <td>-</td>
                        <td>$70,000</td>
                        <td class="divRed">-$70,000</td>
                        <td>$553,936</td>
                        
                        <td>$89,936</td>
                        <td>-</td>
                        <td>-</td>
                        <td>$167,275</td>
                        <td>$464,000</td>
                        <td class="divRed">-$167,275</td>
                        <td>$1,873,556</td>
                        <td class="divRed">-$1,319,499</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Pack</td>
                
                        <td>$2,005,059</td>
                        <td>$2,526,600</td>
                        <td class="divRed">-$521,541</td>
                        <td>$17,476,199</td>
                        
                        <td>$14,949,599</td>
                        <td>$2,082,988</td>
                        <td class="divRed">-$77,929</td>
                        <td>$2,128,586</td>
                        <td>$17,259,760</td>
                        <td class="divRed">-$123,527</td>
                        <td>$26,946,614</td>
                        <td class="divRed">-$9,470,415</td>
                        
                    </tr>
                    <tr class="sub-title">
                        <td>Doc Fees</td>
                
                        <td>$173,420</td>
                        <td>$348,800</td>
                        <td class="divRed">-$175,380</td>
                        <td>$1,539,583</td>
                        
                        <td class="divRed">-$853,507</td>
                        <td>$195,908</td>
                        <td class="divRed">-$22,488</td>
                        <td>$171,208</td>
                        <td>$2,393,090</td>
                        <td>$2,212</td>
                        <td>$1,053,084</td>
                        <td>$486,499</td>
                                                            
                    </tr>
                    <tr class="sub-title">
                        <td>Other Adjustments</td>
                
                        <td>$273,640</td>
                        <td>$27,500</td>
                        <td>$246,140</td>
                        <td>$1,583,657</td>
                        
                        <td>$1,363,657</td>
                        <td>$370,643</td>
                        <td class="divRed">-$97,003</td>
                        <td>$93,938</td>
                        <td>$220,000</td>
                        <td>$179,702</td>
                        <td>$347,766</td>
                        <td>$1,235,891</td>
                                                            
                    </tr>
                    <tr class="title-head">
                        <td>Net Adds/Deducts</td>
                
                        <td>$4,727,522</td>
                        <td>$6,092,400</td>
                        <td class="divRed">-$1,364,878</td>
                        <td>$42,271,918</td>
                        
                        <td>$1,860,568</td>
                        <td>$5,117,235</td>
                        <td class="divRed">-$389,713</td>
                        <td>$5,336,976</td>
                        <td>$40,411,350</td>
                        <td class="divRed">-$609,454</td>
                        <td>$55,140,337</td>
                        <td class="divRed">-$12,868,419</td>
                                                            
                    </tr>
                    <tr class="title-head">
                        <td>Net Profit</td>
                
                        <td>$3,374,490</td>
                        <td>$7,619,574</td>
                        <td class="divRed">-$4,245,084</td>
                        <td>$28,873,019</td>
                        
                        <td class="divRed">-$18,547,713</td>
                        <td>$4,329,550</td>
                        <td class="divRed">-$955,061</td>
                        <td>$5,456,224</td>
                        <td>$47,420,732</td>
                        <td class="divRed">-$2,081,734</td>
                        <td>$44,904,522</td>
                        <td class="divRed">-$16,031,502</td>
                                                            
                    </tr>
             </table>
           </div>
         </div>  
     </div>
     
  </div>


