<div [ngStyle]="{'position': CompleteComponentState == true? 'inherit' : 'fixed'}">
 <ngx-spinner  bdColor="rgba(51,51,51,0.8)"  size="medium"  color="white"  type="ball-fussion">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
<app-header></app-header>
<div class="Refresh">Updated: 06/08/22 07:35:56 am <img src="../../../assets/images/refresh_icon.png" alt=""> </div>
<div class="container-fluid pe-0 mt-1" id="Sales Gross" [ngStyle]="{'pointer-events': CompleteComponentState == true? 'visible' : 'none'}" >
    <div class="col-12">
        <div class="d-flex" style="margin-right: 8px;">
          
               
            <div class="gross-tbl table-responsive" (mouseenter)="updateCurrentElement('scrollOne')" (scroll)="updateVerticalScroll($event)" #scrollOne>
            <table>
                <thead style="cursor: pointer;" (click)="openMenu()" >
                    <tr>
                        <th rowspan="2">{{FromDate |date:'MMMM'}}</th>
                    </tr>
                    <tr>
                        <th rowspan="2">{{FromDate |date:'dd'}}-{{ToDate |date:'dd'}}, {{FromDate | date:'yyyy'}}</th>
                    </tr>
                </thead>
              
                <tbody *ngFor="let SalesInfo of SalesData; let i=index" >
                    <tr class="title" [id]="'D_'+i" [ngClass]="{'disable': path2=='' }" >
                        <td>
                            <span style="float: left; margin-right: .5rem; color: #363b4f;" (click)="expandorcollapse(i,$event,SalesInfo.Dealer,SalesInfo)" [id]="'D_'+i">{{SalesInfo.Dealer}}</span>
                       
                            <span [id]="'D_'+i" title="{{SalesInfo.Store_Name}}" (click)="expandorcollapse(i,$event,SalesInfo.Dealer,SalesInfo)"
                            > {{(SalesInfo.Store_Name == undefined ? '--' : ( (SalesInfo.Store_Name.toString() | slice:0:22) +
                            (SalesInfo.Store_Name.toString().length > 22 ? '...' : '') ))}} </span>
                        </td>
                    </tr>
        
                    <tr class="sub-title"  [id]="'DN_'+i" [ngClass]="{'hidden': SalesInfo.Dealer === '+' ||  path2 != 'New - Used'  }">
                        <td>  
                            <span style="float: left; margin-right: 0.8rem; color: #363b4f;" (click)="expandorcollapse(i,$event,SalesInfo.NewDealer,SalesInfo)" [id]="'DN_'+i" [ngClass]="{'disable': SalesInfo.Store_Name === 'Reports Total' }">{{SalesInfo.NewDealer}}</span>
                         <span (click)="expandorcollapse(i,$event,SalesInfo.NewDealer,SalesInfo)" [id]="'DN_'+i">  NEW </span>                        
                        </td>
                    </tr>
                    <tr *ngFor="let NewUser of SalesInfo.New_User" [id]="'DNS_'+i" [ngClass]="{'hidden': SalesInfo.Dealer === '+' || SalesInfo.NewDealer === '+' ||  path3 == '' }">
                        <td (click)="openDetails(NewUser,SalesInfo, 'N')"> 
                            <span style="margin-right: 1.5rem;"></span>
                            <span title="{{NewUser.UserName}}">{{(NewUser.UserName == undefined ? '--' : ( (NewUser.UserName.toString() | slice:0:15) +
                                (NewUser.UserName.toString().length > 15 ? '...' : '') ))}}</span>
                         
                        </td>
                    </tr>
                   
                    <tr class="sub-title"  [id]="'DU_'+i" [ngClass]="{'hidden': SalesInfo.Dealer === '+' || path2 != 'New - Used' }">
                        <td>
                            <span style="float: left; margin-right: 0.8rem; color: #363b4f;" (click)="expandorcollapse(i,$event,SalesInfo.UsedDealer,SalesInfo)" [id]="'DU_'+i" [ngClass]="{'disable': SalesInfo.DealerName === 'Reports Total'}">{{SalesInfo.UsedDealer}}</span>                            
                        <span (click)="expandorcollapse(i,$event,SalesInfo.UsedDealer,SalesInfo)" [id]="'DU_'+i">    USED</span>
                        </td> 
                    </tr>
                    <tr *ngFor="let UsedUser of SalesInfo.Used_User" [id]="'DUS_'+i" [ngClass]="{'hidden':  SalesInfo.Dealer === '+' || SalesInfo.UsedDealer === '+' ||  path3 == ''}">
                        <td (click)="openDetails(UsedUser,SalesInfo, 'U')">
                           <span style="margin-right: 1.5rem;"></span>
                           <span title="{{UsedUser.UserName}}">{{(UsedUser.UserName == undefined ? '--' : ( (UsedUser.UserName.toString() | slice:0:15) +
                            (UsedUser.UserName.toString().length > 15 ? '...' : '') ))}}</span>
                        
                           </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="sec-tbl table-responsive" (mouseenter)="updateCurrentElement('scrollTwo')" (scroll)="updateVerticalScroll($event)" #scrollTwo>
                <table *ngIf="SalesData.length>0 ;">
                    <thead >
                        <tr>
                            <th rowspan="2"></th>
                            <th colspan="5" style="border-right: 2px solid #e0e1e2;">Units</th>
                            <th colspan="5" style="border-right: 2px solid #e0e1e2;">Front Gross</th>
                            <th colspan="5" style="border-right: 2px solid #e0e1e2;">Back Gross</th>
                            <th colspan="5" style="border-right: 2px solid #e0e1e2;">Total Gross</th>
                            
                        </tr>
                        <tr>
                            <th id="DataHead1"></th>
                            <th id="DataHead2" (click)="sort('Units_MTD')" style="cursor: pointer;">MTD</th>
                            <th id="DataHead3" (click)="sort('Units_Pace')" style="cursor: pointer;">Pace</th>
                            <th id="DataHead4" (click)="sort('Units_Target')" style="cursor: pointer;" >Target</th>
                            <th id="DataHead5" >+/-</th>
                            <th id="DataHead6" (click)="sort('PerDay')" style="cursor: pointer;" >Per Day</th>
                    
                            <th id="DataHead7" (click)="sort('FrontGross_MTD')" style="cursor: pointer;" >MTD</th>
                            <th id="DataHead8" (click)="sort('FrontGross_Pace')" style="cursor: pointer;">Pace</th>
                            <th id="DataHead9" (click)="sort('FrontGross_Target')" style="cursor: pointer;" >Target</th>
                            <th id="DataHead10" >+/-</th>
                            <th id="DataHead11" (click)="sort('FrontGross_PVR')" style="cursor: pointer;" >PVR</th>
                    
                            <th id="DataHead12" (click)="sort('BackGross_MTD')" style="cursor: pointer;">MTD</th>
                            <th id="DataHead13" (click)="sort('BackGross_Pace')" style="cursor: pointer;">Pace</th>
                            <th id="DataHead14" (click)="sort('BackGross_Target')" style="cursor: pointer;" >Target</th>
                            <th id="DataHead15" >+/-</th> 
                            <th id="DataHead16" (click)="sort('BackGross_PVR')" style="cursor: pointer;">PVR</th>
                    
                            <th id="DataHead17" (click)="sort('TotalGross_MTD')" style="cursor: pointer;">MTD</th>
                            <th id="DataHead18" (click)="sort('Total_Pace')" style="cursor: pointer;">Pace</th>
                            <th id="DataHead19" (click)="sort('TotalGross_Target')" style="cursor: pointer;">Target</th>
                            <th id="DataHead20">+/-</th>
                            <th id="DataHead21" (click)="sort('TotalGross_PVR')" style="cursor: pointer;">PVR</th>
             
                        </tr>
                    </thead>
                
                    <tbody *ngFor="let SalesInfo of SalesData; let i=index">
                        <tr  
                        [ngClass]="{'title' : i % 2 == 0 , 'titleOdd' : i % 2 != 0 , 'Selectedrow': SalesInfo.Dealer === '-', 'divBold': SalesInfo.Store_Name === 'Reports Total' , 'disable': path2=='' }"
                        [id]="'DV_'+i">
                            <td id="DataBody1"> <span>&nbsp;</span></td>
                            <td id="DataBody2">{{ SalesInfo.Units_MTD == 0 || SalesInfo.Units_MTD == null ? '-' : SalesInfo.Units_MTD  | number}}</td>
                            <td id="DataBody3">{{ SalesInfo.Units_Pace == 0 || SalesInfo.Units_Pace == null ? '-' : SalesInfo.Units_Pace  | number}}</td>
                            <td id="DataBody4">{{ SalesInfo.Units_Target == 0 || SalesInfo.Units_Target == null ? '' : SalesInfo.Units_Target  | number}}</td>
                            <td id="DataBody5" [ngClass]="{ negative: !inTheGreen(SalesInfo.Units_Pace*1 - SalesInfo.Units_Target*1)}">{{SalesInfo.Units_Pace*1 - SalesInfo.Units_Target*1 }}</td>
                            <td id="DataBody6">{{ SalesInfo.PerDay == 0 || SalesInfo.PerDay == null ? '-' : SalesInfo.PerDay | number:'1.1-2'}}</td>

                            <td id="DataBody7" [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_MTD)}"> {{ (SalesInfo.FrontGross_MTD == 0 || SalesInfo.FrontGross_MTD == null ? '-' : SalesInfo.FrontGross_MTD |currency:'USD':'symbol':'1.0-0') }}</td>
                            <td id="DataBody8" [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_Pace)}">{{ (SalesInfo.FrontGross_Pace == 0 || SalesInfo.FrontGross_Pace == null ? '-' : SalesInfo.FrontGross_Pace  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td id="DataBody9" [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_Target)}"> {{ (SalesInfo.FrontGross_Target == 0 || SalesInfo.FrontGross_Target == null ? '-' : SalesInfo.FrontGross_Target |currency:'USD':'symbol':'1.0-0') }}</td>
                            <td id="DataBody10" [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_Pace*1 - SalesInfo.FrontGross_Target*1)}">{{SalesInfo.FrontGross_Pace*1 - SalesInfo.FrontGross_Target*1 | currency:'USD':'symbol':'1.0-0' }}</td>
                            <td id="DataBody11" [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_PVR)}">{{ (SalesInfo.FrontGross_PVR == 0 || SalesInfo.FrontGross_PVR == null ? '-' : SalesInfo.FrontGross_PVR  | currency:'USD':'symbol':'1.0-0' ) }}</td>

                            <td id="DataBody12" [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_MTD)}">{{ (SalesInfo.BackGross_MTD == 0 || SalesInfo.BackGross_MTD == null ? '-' : SalesInfo.BackGross_MTD  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td id="DataBody13" [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_Pace)}">{{ (SalesInfo.BackGross_Pace == 0 || SalesInfo.BackGross_Pace == null ? '-' : SalesInfo.BackGross_Pace  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td id="DataBody14" [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_Target)}">{{ (SalesInfo.BackGross_Target == 0 || SalesInfo.BackGross_Target == null ? '-' : SalesInfo.BackGross_Target  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td id="DataBody15" [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_Pace*1 - SalesInfo.BackGross_Target*1)}">{{SalesInfo.BackGross_Pace*1 - SalesInfo.BackGross_Target*1 | currency:'USD':'symbol':'1.0-0'  }}</td>
                            <td id="DataBody16" [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_PVR)}">{{ (SalesInfo.BackGross_PVR == 0 || SalesInfo.BackGross_PVR == null ? '-' : SalesInfo.BackGross_PVR  | currency:'USD':'symbol':'1.0-0' ) }}</td>

                            <td id="DataBody17" [ngClass]="{ negative: !inTheGreen(SalesInfo.TotalGross_MTD)}">{{ (SalesInfo.TotalGross_MTD == 0 || SalesInfo.TotalGross_MTD == null ? '-' : SalesInfo.TotalGross_MTD  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td id="DataBody18" [ngClass]="{ negative: !inTheGreen(SalesInfo.Total_Pace)}">{{ (SalesInfo.Total_Pace == 0 || SalesInfo.Total_Pace == null ? '-' : SalesInfo.Total_Pace  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td id="DataBody19" [ngClass]="{ negative: !inTheGreen(SalesInfo.TotalGross_Target)}">{{ (SalesInfo.TotalGross_Target == 0 || SalesInfo.TotalGross_Target == null ? '-' : SalesInfo.TotalGross_Target  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td id="DataBody20" [ngClass]="{ negative: !inTheGreen(SalesInfo.Total_Pace*1 - SalesInfo.TotalGross_Target*1)}">{{SalesInfo.Total_Pace*1 - SalesInfo.TotalGross_Target*1 | currency:'USD':'symbol':'1.0-0' }}</td>
                            <td id="DataBody21" [ngClass]="{ negative: !inTheGreen(SalesInfo.TotalGross_PVR)}">{{ (SalesInfo.TotalGross_PVR == 0 || SalesInfo.TotalGross_PVR == null ? '-' : SalesInfo.TotalGross_PVR  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                        </tr>
            
                        <tr class="sub-title"  [id]="'DVN_'+i" [ngClass]="{'hidden': SalesInfo.Dealer === '+' || path2 != 'New - Used' }">
                            <td>&nbsp;</td>
                            <td>{{SalesInfo.Units_MTD_New == 0 || SalesInfo.Units_MTD_New == null  ? '-' : SalesInfo.Units_MTD_New  | number}}</td>
                            <td>{{SalesInfo.Units_Pace_New == 0 || SalesInfo.Units_Pace_New == null  ? '-' : SalesInfo.Units_Pace_New  | number}}</td>
                            <td>{{SalesInfo.Units_Target_New == 0 || SalesInfo.Units_Target_New == null  ? '-' : SalesInfo.Units_Target_New  | number}}</td>
                            <td  [ngClass]="{ negative: !inTheGreen(SalesInfo.Units_Pace_New*1 - SalesInfo.Units_Target_New*1)}">{{SalesInfo.Units_Pace_New*1 - SalesInfo.Units_Target_New*1 }}</td>

                            <td>{{ SalesInfo.PerDay_New == 0  || SalesInfo.PerDay_New == null  ? '-' : SalesInfo.PerDay_New | number:'1.1-2'}}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_MTD_New)}">{{ (SalesInfo.FrontGross_MTD_New == 0 || SalesInfo.FrontGross_MTD_New == null   ? '-' : SalesInfo.FrontGross_MTD_New  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_Pace_New)}">{{ (SalesInfo.FrontGross_Pace_New == 0 || SalesInfo.FrontGross_Pace_New == null   ? '-' : SalesInfo.FrontGross_Pace_New  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_Target_New)}">{{ (SalesInfo.FrontGross_Target_New == 0 || SalesInfo.FrontGross_Target_New == null   ? '-' : SalesInfo.FrontGross_Target_New  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_Pace_New*1 - SalesInfo.FrontGross_Target_New*1)}">{{SalesInfo.FrontGross_Pace_New*1 - SalesInfo.FrontGross_Target_New*1 | currency:'USD':'symbol':'1.0-0' }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_PVR_New)}">{{ (SalesInfo.FrontGross_PVR_New == 0 || SalesInfo.FrontGross_PVR_New == null   ? '-' : SalesInfo.FrontGross_PVR_New  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_MTD_New)}">{{ (SalesInfo.BackGross_MTD_New == 0 || SalesInfo.BackGross_MTD_New == null   ? '-' : SalesInfo.BackGross_MTD_New  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_Pace_New)}">{{ (SalesInfo.BackGross_Pace_New == 0 || SalesInfo.BackGross_Pace_New == null   ? '-' : SalesInfo.BackGross_Pace_New  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_Target_New)}">{{ (SalesInfo.BackGross_Target_New == 0 || SalesInfo.BackGross_Target_New == null   ? '-' : SalesInfo.BackGross_Target_New  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_Pace_New*1 - SalesInfo.BackGross_Target_New*1)}">{{SalesInfo.BackGross_Pace_New*1 - SalesInfo.BackGross_Target_New*1 | currency:'USD':'symbol':'1.0-0' }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_PVR_New)}">{{ (SalesInfo.BackGross_PVR_New == 0 || SalesInfo.BackGross_PVR_New == null   ? '-' : SalesInfo.BackGross_PVR_New  | currency:'USD':'symbol':'1.0-0' ) }}</td>

                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.TotalGross_MTD_New)}">{{ (SalesInfo.TotalGross_MTD_New == 0  || SalesInfo.TotalGross_MTD_New == null  ? '-' : SalesInfo.TotalGross_MTD_New  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.Total_Pace_New)}">{{ (SalesInfo.Total_Pace_New == 0  || SalesInfo.Total_Pace_New == null  ? '-' : SalesInfo.Total_Pace_New  | currency:'USD':'symbol':'1.0-0' )}}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.TotalGross_Target_New)}">{{ (SalesInfo.TotalGross_Target_New == 0  || SalesInfo.TotalGross_Target_New == null  ? '-' : SalesInfo.TotalGross_Target_New  | currency:'USD':'symbol':'1.0-0' )}}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.Total_Pace_New*1 - SalesInfo.TotalGross_Target_New*1)}">{{SalesInfo.Total_Pace_New*1 - SalesInfo.TotalGross_Target_New*1 | currency:'USD':'symbol':'1.0-0' }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.TotalGross_PVR_New)}">{{ (SalesInfo.TotalGross_PVR_New == 0 || SalesInfo.TotalGross_PVR_New == null   ? '-' : SalesInfo.TotalGross_PVR_New  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                        </tr>
                        <tr *ngFor="let Nsp of SalesInfo.New_User" [id]="'DVNS_'+i" 
                        [ngClass]="{'hidden': SalesInfo.Dealer === '+' || SalesInfo.NewDealer === '+' ||  path3 == '','odd': SalesInfo.New_User.indexOf(Nsp)%2 == 0, 'even': SalesInfo.New_User.indexOf(Nsp)%2 > 0}">
                            <td>&nbsp;</td>
                            <td>{{Nsp.Units_MTD == 0 || Nsp.Units_MTD == null  ? '-' : Nsp.Units_MTD  | number}}</td>
                            <td>{{Nsp.Units_Pace == 0 || Nsp.Units_Pace == null  ? '-' : Nsp.Units_Pace  | number}}</td>
                            <td></td>
                            <td ></td>
                            <td id="DataBody6">{{ Nsp.PerDay == 0 || Nsp.PerDay == null  ? '-' : Nsp.PerDay | number:'1.1-2'}}</td>

                            <td [ngClass]="{ negative: !inTheGreen(Nsp.FrontGross_MTD)}">{{ (Nsp.FrontGross_MTD == 0 || Nsp.FrontGross_MTD == null  ? '-' : Nsp.FrontGross_MTD  | currency:'USD':'symbol':'1.0-0' )}}</td>
                            <td [ngClass]="{ negative: !inTheGreen(Nsp.FrontGross_Pace)}">{{ (Nsp.FrontGross_Pace == 0 || Nsp.FrontGross_Pace == null  ? '-' : Nsp.FrontGross_Pace  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td ></td>
                            <td></td>
                            <td [ngClass]="{ negative: !inTheGreen(Nsp.FrontGross_PVR)}">{{ (Nsp.FrontGross_PVR == 0  || Nsp.FrontGross_PVR == null ? '-' : Nsp.FrontGross_PVR  | currency:'USD':'symbol':'1.0-0') }}</td>

                            <td [ngClass]="{ negative: !inTheGreen(Nsp.BackGross_MTD)}">{{ (Nsp.BackGross_MTD == 0 || Nsp.BackGross_MTD == null  ? '-' : Nsp.BackGross_MTD  | currency:'USD':'symbol':'1.0-0' )}}</td>
                            <td [ngClass]="{ negative: !inTheGreen(Nsp.BackGross_Pace)}">{{ (Nsp.BackGross_Pace == 0 || Nsp.BackGross_Pace == null  ? '-' : Nsp.BackGross_Pace  | currency:'USD':'symbol':'1.0-0' )}}</td>
                            <td></td>
                            <td></td>
                            <td [ngClass]="{ negative: !inTheGreen(Nsp.BackGross_PVR)}">{{ (Nsp.BackGross_PVR == 0  || Nsp.BackGross_PVR == null ? '-' : Nsp.BackGross_PVR  | currency:'USD':'symbol':'1.0-0' )}}</td>

                            <td [ngClass]="{ negative: !inTheGreen(Nsp.TotalGross_MTD)}">{{(Nsp.TotalGross_MTD == 0 || Nsp.TotalGross_MTD == null  ? '-' : Nsp.TotalGross_MTD  | currency:'USD':'symbol':'1.0-0' )}}</td>
                            <td [ngClass]="{ negative: !inTheGreen(Nsp.TotalGross_Pace)}">{{ (Nsp.TotalGross_Pace == 0  || Nsp.TotalGross_Pace == null ? '-' : Nsp.TotalGross_Pace  | currency:'USD':'symbol':'1.0-0' )}}</td>
                            <td></td>
                            <td></td>
                            <td [ngClass]="{ negative: !inTheGreen(Nsp.TotalGross_PVR)}">{{ (Nsp.TotalGross_PVR == 0  || Nsp.TotalGross_PVR == null ? '-' : Nsp.TotalGross_PVR  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                         
                        </tr>


                        <tr class="sub-title" [id]="'DVU_'+i" [ngClass]="{'hidden': SalesInfo.Dealer === '+' ||  path2 != 'New - Used' }">
                            <td>&nbsp;</td>
                            <td>{{SalesInfo.Units_MTD_Used == 0 || SalesInfo.Units_MTD_Used == null ? '' : SalesInfo.Units_MTD_Used}}</td>
                            <td>{{SalesInfo.Units_Pace_Used == 0 || SalesInfo.Units_Pace_Used == null ? '' : SalesInfo.Units_Pace_Used}}</td>
                            <td>{{SalesInfo.Units_Target_Used == 0 || SalesInfo.Units_Target_Used == null || SalesInfo.Units_Target_Used == '-' ? '' : SalesInfo.Units_Target_Used}}</td>
                            <td  [ngClass]="{ negative: !inTheGreen(SalesInfo.Units_Pace_Used*1 - SalesInfo.Units_Target_Used*1)}">{{SalesInfo.Units_Pace_Used*1 - SalesInfo.Units_Target_Used*1 }}</td>

                            <td>{{ SalesInfo.PerDay_Used == 0 || SalesInfo.PerDay_Used == null  ? '-' : SalesInfo.PerDay_Used | number:'1.1-2'}}</td>

                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_MTD_Used)}">{{ (SalesInfo.FrontGross_MTD_Used == 0 || SalesInfo.FrontGross_MTD_Used == null ? '-' : SalesInfo.FrontGross_MTD_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_Pace_Used)}">{{ (SalesInfo.FrontGross_Pace_Used == 0 || SalesInfo.FrontGross_Pace_Used == null  ? '-' : SalesInfo.FrontGross_Pace_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_Target_Used)}">{{ (SalesInfo.FrontGross_Target_Used == 0 || SalesInfo.FrontGross_Target_Used == null ? '-' : SalesInfo.FrontGross_Target_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td  [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_Pace_Used*1 - SalesInfo.FrontGross_Target_Used*1)}">{{SalesInfo.FrontGross_Pace_Used*1 - SalesInfo.FrontGross_Target_Used*1 | currency:'USD':'symbol':'1.0-0' }}</td>

                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.FrontGross_PVR_Used)}">{{ (SalesInfo.FrontGross_PVR_Used == 0 || SalesInfo.FrontGross_PVR_Used == null ? '-' : SalesInfo.FrontGross_PVR_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                           
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_MTD_Used)}">{{ (SalesInfo.BackGross_MTD_Used == 0 || SalesInfo.BackGross_MTD_Used == null ? '-' : SalesInfo.BackGross_MTD_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_Pace_Used)}">{{ (SalesInfo.BackGross_Pace_Used == 0 || SalesInfo.BackGross_Pace_Used == null ? '-' : SalesInfo.BackGross_Pace_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_Target_Used)}">{{ (SalesInfo.BackGross_Target_Used == 0 || SalesInfo.BackGross_Target_Used == null ? '-' : SalesInfo.BackGross_Target_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td  [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_Pace_Used*1 - SalesInfo.BackGross_Target_Used*1)}">{{SalesInfo.BackGross_Pace_Used*1 - SalesInfo.BackGross_Target_Used*1 | currency:'USD':'symbol':'1.0-0' }}</td>

                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.BackGross_PVR_Used)}">{{ (SalesInfo.BackGross_PVR_Used == 0 || SalesInfo.BackGross_PVR_Used == null ? '-' : SalesInfo.BackGross_PVR_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>

                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.TotalGross_MTD_Used)}">{{(SalesInfo.TotalGross_MTD_Used == 0 || SalesInfo.TotalGross_MTD_Used == null ? '-' : SalesInfo.TotalGross_MTD_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.Total_Pace_Used)}">{{ (SalesInfo.Total_Pace_Used == 0 || SalesInfo.Total_Pace_Used == null ? '-' : SalesInfo.Total_Pace_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.TotalGross_Target_Used)}">{{ (SalesInfo.TotalGross_Target_Used == 0 || SalesInfo.TotalGross_Target_Used == null ? '-' : SalesInfo.TotalGross_Target_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td  [ngClass]="{ negative: !inTheGreen(SalesInfo.Total_Pace_Used*1 - SalesInfo.TotalGross_Target_Used*1)}">{{SalesInfo.Total_Pace_Used*1 - SalesInfo.TotalGross_Target_Used*1 | currency:'USD':'symbol':'1.0-0' }}</td>

                            <td [ngClass]="{ negative: !inTheGreen(SalesInfo.TotalGross_PVR_Used)}">{{ (SalesInfo.TotalGross_PVR_Used == 0 || SalesInfo.TotalGross_PVR_Used == null  ? '-' : SalesInfo.TotalGross_PVR_Used  | currency:'USD':'symbol':'1.0-0' ) }}</td>

                        </tr>
                        <tr *ngFor="let usp of SalesInfo.Used_User" [id]="'DVUS_'+i" [ngClass]="{'hidden': SalesInfo.Dealer === '+' || SalesInfo.UsedDealer === '+'||  path3 == '','odd': SalesInfo.Used_User.indexOf(usp)%2 == 0, 'even': SalesInfo.Used_User.indexOf(usp)%2 > 0}">
                            <td>&nbsp;</td>
                            
                            <td>{{ usp.Units_MTD == 0 || usp.Units_MTD == null ? '-' : usp.Units_MTD}}</td>
                            <td>{{usp.Units_Pace == 0 || usp.Units_Pace == null ? '-' : usp.Units_Pace}}</td> 
                            <td></td>
                            <td></td>
                            <td id="DataBody6">{{ usp.PerDay == 0 || usp.PerDay == null ? '-' : usp.PerDay | number:'1.1-2'}}</td>

                            <td [ngClass]="{ negative: !inTheGreen(usp.FrontGross_MTD)}">{{ (usp.FrontGross_MTD == 0  || usp.FrontGross_MTD == null ? '-' : usp.FrontGross_MTD  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(usp.FrontGross_Pace)}">{{ (usp.FrontGross_Pace == 0 || usp.FrontGross_Pace == null  ? '-' : usp.FrontGross_Pace  | currency:'USD':'symbol':'1.0-0' )}}</td>
                            <td></td>
                            <td></td>
                            <td [ngClass]="{ negative: !inTheGreen(usp.FrontGross_PVR)}">{{ (usp.FrontGross_PVR == 0  || usp.FrontGross_PVR == null ? '-' : usp.FrontGross_PVR  | currency:'USD':'symbol':'1.0-0' ) }}</td>

                            <td [ngClass]="{ negative: !inTheGreen(usp.BackGross_MTD)}">{{ (usp.BackGross_MTD == 0  || usp.BackGross_MTD == null ? '-' : usp.BackGross_MTD  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(usp.BackGross_Pace)}">{{ (usp.BackGross_Pace == 0  || usp.BackGross_Pace == null ? '-' : usp.BackGross_Pace  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td></td>
                            <td></td>
                            <td [ngClass]="{ negative: !inTheGreen(usp.BackGross_PVR)}">{{ (usp.BackGross_PVR == 0  || usp.BackGross_PVR == null ? '-' : usp.BackGross_PVR  | currency:'USD':'symbol':'1.0-0' ) }}</td>

                            <td [ngClass]="{ negative: !inTheGreen(usp.TotalGross_MTD)}">{{ (usp.TotalGross_MTD == 0  || usp.TotalGross_MTD == null ? '-' : usp.TotalGross_MTD  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td [ngClass]="{ negative: !inTheGreen(usp.TotalGross_Pace)}">{{ (usp.TotalGross_Pace == 0  || usp.TotalGross_Pace == null ? '-' : usp.TotalGross_Pace  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                            <td></td>
                            <td></td>
                            <td [ngClass]="{ negative: !inTheGreen(usp.TotalGross_PVR)}">{{ (usp.TotalGross_PVR == 0  || usp.TotalGross_PVR == null ? '-' : usp.TotalGross_PVR  | currency:'USD':'symbol':'1.0-0' ) }}</td>
                           
                        </tr>
                    </tbody>
                            <tbody *ngIf="NoData">
                                <tr><td colspan="11">No Records Found!!!</td></tr>
                            </tbody>
                    </table>
            </div>
     

        </div>
    </div>
</div> 
</div> 